:root{
    --basic_bg: rgb(58,153,180);
    --gradient_bg: linear-gradient(20deg, rgba(58,153,180,1) 0%, rgba(71,176,150,1) 50%, rgba(69,252,161,1) 100%);
    --gradient_bg2: linear-gradient(90deg, rgba(58,153,180,1) 0%, rgba(71,176,150,1) 50%, rgb(63, 231, 147) 100%);
}

*{
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none;
}

html{
    font-family: "Poppins";
    scroll-behavior: smooth;
}

@keyframes bg_animation{
    0% {background-position: left;}
    100% {background-position: right;}
}

.content{
    background: var(--basic_bg);
    background: var(--gradient_bg);
    animation: bg_animation 5s infinite alternate;
    min-height: 100vh;
    line-height: 1.6;
    color: #333;
    background-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info{
    background-color: rgb(18, 17, 17);
    margin-top: 5px;
    padding: 40px 40px 40px 40px;
    height: 0 auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info_1{
    backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
    background: rgb(18, 17, 17);
    color: white;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.info_1_1{
    backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
    background: rgb(18, 17, 17);
    color: white;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    outline-style: solid;
}

footer{
    backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
    background: rgb(18, 17, 17);
    color: white;
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    outline-style: solid;
    text-align: center;
}

.info h2{
   padding: 20px 20px 20px 20px;
   outline-style: solid;
}

.info_1 p{
    padding: 20px 20px;
    line-height: 1.6;
    outline-style: solid;
}

.lan1{
    background: white;
    width: 70vw;
    padding: 4rem;
}

.bg{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(18, 17, 17);
    padding: 1.5em;
}

button{
    font-family: "Poppins";
    margin-top: 20px; 
    min-width: 10vw;
    min-height: 5vh;
    background: white;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #000;
}

#text_button{
    background: var(--basic_bg);
    background: var(--gradient_bg2);
    animation: bg_animation 2.5s infinite alternate;
    color: transparent;
    text-transform: uppercase;
    font-weight: bolder;
    -webkit-background-clip: text;
    font-size: 18px;
    background-size: 400%;
    text-shadow: 0.3rem;
    padding: 20px 20px;
    box-sizing: border-box;
}

#text_button:hover{
    color: white;
}

button:hover{
    background: var(--basic_bg);
    background: var(--gradient_bg2);
    animation: bg_animation 2.5s infinite alternate;
    background-size: 400%;
}

.p_name{
    margin: 0 0 0.5em;
    text-transform: uppercase;
    font-weight: 900;
    font-style: italic;
    font-size: 6rem;
    color: black;
    line-height: 0.8;
    margin: 0;
    text-align: center;
}

.distinction{
    color: rgba(71,176,150,1);
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: rgba(69,252,161,1);
    font-weight: bold;
}

a:hover{
    color: white;
}

img{
    border-radius: 100px;
    padding: 10px 10px 10px 10px;
    background: white;
    width: 20%;
    height: 100%;
    margin-left: 50px;
}

.image_p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
}

.info_1_1_span{
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info_1_1_span span{
    margin-left: 20px;
    text-align: center;
}

.info_1_1_span span.distinction{
    margin-left: 0px;
}

/*.self_photo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    float: left;
    padding: 10px 0px 10px -140px;
}*/

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(205, 200, 200);
    margin-top: 20px;
    margin-bottom: 20px;
}

nav h1{
    margin-top: 20px;
}

ul{
    list-style: none;
    overflow: hidden;
    background-color: rgb(18, 17, 17);
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li{
    float: left;
    margin: 23px 23px;
    padding: 2rem 2rem;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

li a:hover{
    color: rgba(71,176,150,1);
}

@media screen and (max-width: 760px) {
    .info{
        flex-direction: column;
    }

    .img{
        width: 30%;
    }

    .info_1_1{
        display: flex;
        flex-direction: row;
    }

    .p_name{
        margin-top: -35px;
    }
    
    .text{
        font-size: 3rem;
    }

    .typed-cursor{
        font-size: 3rem;
    }

    .lan1{
        padding: 2rem;
    }

    #my_img{
        display: none;
    }

    .info_1_1_span span{
        margin-left: 0px;
        text-align: center;
    }
}